<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mybatis框架只有接口 没有实现类
     mybatis的映射文件就相当于是接口的实现类
               主要用来编写sql语句
     mapper 需要与映射接口对应
     namespace 配置类的全限定名
 -->
<mapper namespace="com.gj.modules.oauth.mapper.BaseUserMapper">

    <select id="getBaseUserByUserNameOrMobilePhone" resultType="com.gj.common.vo.security.BaseUserVO">
        SELECT id,username AS userName,password,name,mobile_phone AS mobilePhone,sex,type FROM base_user WHERE delete_time IS NULL
        AND (username = #{account} OR mobile_phone = #{account})
    </select>



</mapper>