<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mybatis框架只有接口 没有实现类
     mybatis的映射文件就相当于是接口的实现类
               主要用来编写sql语句
     mapper 需要与映射接口对应
     namespace 配置类的全限定名
 -->
<mapper namespace="com.gj.modules.mapper.NakedCarMapper">

    <sql id="selectSql">
        <!--<if test="nakedCar.cBrand != null and nakedCar.cBrand != ''">
             (tu.user_name like concat(concat('%',#{order.userNamePhone}),'%') or tu.user_phone = #{order.userNamePhone})

        </if>-->
        <if test="nakedCar.cBrand != null and nakedCar.cBrand != ''">
            AND c_brand LIKE concat(concat('%',#{nakedCar.cBrand},'%'))
        </if>
    </sql>

    <select id="nakedCarMapper" resultType="com.gj.modules.model.NakedCarEntity">
        SELECT
          id AS id,
          c_brand AS cBrand,
          c_name AS cName,
          c_color AS cColor,
          c_type AS cType,
          c_price AS cPrice,
          c_local AS cLocal,
          c_date AS cDate,
          create_time AS createTime,
          update_time AS  updateTime
        FROM t_car
        WHERE 1 = 1
        <include refid="selectSql">
        </include>
        limit #{start},#{pageSize}
    </select>

    <select id="countNaked" resultType="Integer">
        SELECT COUNT(*) FROM t_car
        WHERE 1 = 1
        <include refid="selectSql">
        </include>
    </select>

    <insert id="addNakedCar" parameterType="com.gj.modules.model.NakedCarEntity">
      INSERT INTO t_car ( c_brand, c_name,c_color,c_type,c_price,c_local,c_date )
                       VALUES
                       ( #{nakedCar.cBrand}, #{nakedCar.cName},#{nakedCar.cColor},#{nakedCar.cType},#{nakedCar.cPrice},#{nakedCar.cLocal},#{nakedCar.cDate})
    </insert>

    <select id="oneNakedCar" parameterType="Integer" resultType="com.gj.modules.model.NakedCarEntity">
        SELECT
        id AS id,
        c_brand AS cBrand,
        c_name AS cName,
        c_color AS cColor,
        c_type AS cType,
        c_price AS cPrice,
        c_local AS cLocal,
        c_date AS cDate,
        create_time AS createTime,
        update_time AS  updateTime
        FROM t_car
        WHERE 1 = 1
        <if test="nakedId != null">
            AND id = #{nakedId}
        </if>
    </select>

    <update id="updNakedCar" parameterType="com.gj.modules.model.NakedCarEntity">
      UPDATE t_car SET
      c_brand= #{nakedCar.cBrand}, c_name= #{nakedCar.cName},c_color= #{nakedCar.cColor},
      c_type= #{nakedCar.cType},c_price= #{nakedCar.cPrice},c_local= #{nakedCar.cLocal},c_date= #{nakedCar.cDate}
      WHERE id = #{nakedCar.id}
    </update>

    <select id="listCarBrand" resultType="java.lang.Object">
        SELECT c_brand FROM t_car GROUP BY c_brand
    </select>

    <select id="listCabrandCount" resultType="java.lang.Object">
        SELECT count(c_brand) brandCount FROM t_car GROUP BY c_brand
    </select>

</mapper>